<html xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="header">
	
	<!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">1</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Thông báo
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">21/02/2020 11:55</div>
                    <span class="font-weight-bold">Bạn có 1 đơn hàng mới</span>
                  </div>
                </a>
<!--                 <a class="dropdown-item d-flex align-items-center" href="#"> -->
<!--                   <div class="mr-3"> -->
<!--                     <div class="icon-circle bg-success"> -->
<!--                       <i class="fas fa-donate text-white"></i> -->
<!--                     </div> -->
<!--                   </div> -->
<!--                   <div> -->
<!--                     <div class="small text-gray-500">December 7, 2019</div> -->
<!--                     $290.29 has been deposited into your account! -->
<!--                   </div> -->
<!--                 </a> -->
<!--                 <a class="dropdown-item d-flex align-items-center" href="#"> -->
<!--                   <div class="mr-3"> -->
<!--                     <div class="icon-circle bg-warning"> -->
<!--                       <i class="fas fa-exclamation-triangle text-white"></i> -->
<!--                     </div> -->
<!--                   </div> -->
<!--                   <div> -->
<!--                     <div class="small text-gray-500">December 2, 2019</div> -->
<!--                     Spending Alert: We've noticed unusually high spending for your account. -->
<!--                   </div> -->
<!--                 </a> -->
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" th:text="${pageHoiDap.totalElements}" th:if="${pageHoiDap.size>0}">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Thông tin hỏi đáp
                </h6>
                <a class="dropdown-item d-flex align-items-center" th:each="ques : ${pageHoiDap}" th:href="'/admin/question/noreply#ques'+${ques.idHoiDap}">
                  <div class="dropdown-list-image mr-3" th:text="${#strings.substring(ques.khachHang.name,0,1)}">
                    
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate" th:text="${ques.noiDung}">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500" th:text="${ques.khachHang.name}">Emily Fowler · 58m</div>
                    <div class="small text-gray-500" th:text="${T(com.admin.mobile.sale.utils.DateUtils).toAgo(ques.createAt)}"></div>
                  </div>
                </a>
                

                <a class="dropdown-item text-center small text-gray-500" href="/admin/question/noreply">Xem thêm</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${loginUser.fullName}"> </span>
                <img class="img-profile rounded-circle" th:src="${loginUser.image}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Trang cá nhân
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Hoạt động
                </a>
                <div class="dropdown-divider"></div>
                <form action="/logout" id="logoutForm" method="post">
                </form>                
                  <a class="dropdown-item" href="#" onclick="$('#logoutForm').submit()" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Đăng xuất
                  </a>
              </div>
            </li>

          </ul>
        </nav>
	
</header>
</html>