<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin</title>
<th:block th:replace="layout/comon :: css"></th:block>
<style type="text/css">
  .dasboard .card{
    transition: .2s;
  }
  .dasboard .card:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

</style>
</head>
<body id="page-top">
  <div id="wrapper">
    <th:block th:replace="layout/sidebar :: sidebar"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <th:block th:replace="layout/header :: header"></th:block>
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
          <div class="row dasboard">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2"  onclick="location.href='/admin/quan-ly-san-pham'">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số sản phẩm</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${dto.totalProduct + ' sản phẩm'}">$40,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2" onclick="location.href='/admin/don-hang?name=&status=HoanThanh'">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tổng doanh thu</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(dto.totalMoney, 0, 'POINT', 0, 'POINT') + ' VNĐ'}">$215,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2" onclick="location.href='/admin/don-hang'">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tỉ lệ hoàn thành đơn hàng</div>
                      <div class="row no-gutters align-items-center" th:with="tile = ${1.0*dto.successOrder/dto.totalOrder}">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${#numbers.formatDecimal(tile*100, 0, 'POINT', 2, 'POINT') + ' %'}">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2" onclick="location.href='/admin/question/noreply'">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số câu hỏi chưa trả lời</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${dto.totalQuestion + ' câu hỏi'}">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

			<section class="wrapper">
				<!-- page start-->
				<div class="tab-pane" id="chartjs">
					<div>
						<div class="col-lg-12">
							<section class="card">
								<header class="card-header">
								<div class="row">
									<div class="col-3">Biểu đồ</div>
									<div class="col-9 row">
										<div class="form-group col-4">
											<label for="filterBy">Lọc theo</label>
											<select class="form-control" id="filter">
												<option value="month">Tháng</option>
												<option value="year">Năm</option>
											</select>
										</div>
										<div class="form-group col-4">
											<label for="filterBy" id="label1">Chọn tháng</label>
											<select class="form-control" id="filterBy">
												<option value="-1">Tháng này</option>
											</select>
										</div>
										<div class="form-group col-4">
										<label for="filterBy">#</label>
											<button class="btn btn-primary form-control" id="btn-filter">Lọc</button>
										</div>								
									</div>
								</div>
								
									
								</header>
								<div class="card-body text-center">
									<canvas id="cvsMonth"></canvas>
									<canvas id="cvsYear"></canvas>
								</div>
								<footer class="card-footer">
									<div>Tổng sản phẩm bán ra: <span class="text-danger font-weight-bold" id="totalProduct">0</span></div>
									<div>Tổng doanh thu: <span class="text-danger font-weight-bold" id="totalMoney">0</span></div>
								</footer>
							</section>
						</div>
						<div>
							<section class="card">
								<header class="card-header">
									<div class="row">
										<select class="form-control col-3" id="renderChart">
											<option value="top-sp">Top sản phẩm bán chạy</option>
											<option value="top-hang">Top hãng bán chạy</option>
										</select>
									</div>
								</header>
								<div class="card-body text-center">
									<canvas id="topProduct"></canvas>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>


		</div>
      </div>
    </div>
  </div>
    <th:block th:replace="layout/footer :: footer"></th:block>
  <th:block th:replace="layout/comon :: js"></th:block>
  <script type="text/javascript" src="../static/vendor/chart.js/Chart.js" data-th-src="@{/vendor/chart.js/Chart.js}"></script>
  <script type="text/javascript" src="../static/js/chart.js" data-th-src="@{/js/chart.js}"></script>
</body>
</html>