<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin - Quản lý sản phẩm</title>
<th:block th:replace="layout/comon :: css"></th:block>
<link rel="stylesheet" type="text/css" href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css">
<style>
	img.anhSP:hover{
		transform:scale(5);
		z-index:10;
		position: absolute;
	}
	a.star>i{
		margin: 0 0px;
		font-size: 10px;
	}
	a.star:hover{
		text-decoration: none;
	}
    .grid-item{
      transition:.2s;
      padding: 1rem 0;
    }
     .grid-item:hover{
      transform:scale(1.01)
    }
    .grid-item:hover #formEdit{
      opacity: .9;
    }
    #formEdit{
      position: absolute;
      top: 5px;
      left: 5px;
      transition:.2s;
      opacity: 0;
    }
    .phone-image{
    	max-width: 175px;
    }
	
	tr>th{
		padding: 10px !important;
		font-size: 14px !important;
	}
</style>
</head>
<body id="page-top">
  <div id="wrapper">
    <th:block th:replace="layout/sidebar :: sidebar"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <th:block th:replace="layout/header :: header"></th:block>
        <div class="container-fluid">          
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                  <h6 class="m-0 font-weight-bold text-primary">Danh sách các sản phẩm hiện tại</h6>
                  <button class="btn btn-success ml-2" onclick="location.href='/admin/quan-ly-san-pham/them'" title="Thêm mới"><i class="fas fa-plus"></i> </button>
                </div>
                <div class="col-md-8 d-flex justify-content-center align-self-center">
                  <form class="form-inline" id="formSearch">
                    <div class="form-group">
                        <label for="tensp">Tên sản phẩm: </label>
                        <input type="text" name="name" id="tensp" class="form-control form-control-sm m-1"  placeholder="Tên sản phẩm">
                    </div>
                    <div class="form-group">
                        <label for="hang">Hãng: </label>
                        <select class="form-control form-control-sm m-1" name="idHang">
                          <option value="0" >Tất cả</option>
                          <option th:each="hang: ${listHang}" th:selected="${hang.idHang == param.idHang}" th:value="${hang.idHang}" th:text="${hang.name}">
                          </option>
                        </select>
                    </div>
                    <input type="hidden" name="grid" id="gridInput">
                    <button class="btn btn-sm btn-primary m-1" type="submit">Tìm kiếm</button>
                    <button class="btn btn-sm btn-danger m-1" type="reset" onclick="searchDTO={}">Reset</button>
                      <a class="btn btn-light" id="switchList" href="quan-ly-san-pham?grid">
                        <i class="fas fa-border-all"></i>
                      </a>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body" id="dataSP">
              <div class="table-responsive" th:fragment="search-fragment">
              <div th:if="${param.grid}">
                <!--Grid View -->
                <div class="row row-eq-height" th:each="sp,rowStatus: ${page}" th:if="${rowStatus.index % 5} == 0">
                  <div class="col p-2" th:each="sp,spStatus: ${page}"
                    th:if="${spStatus.index lt rowStatus.index + 5 and spStatus.index ge rowStatus.index}">
                      <div class="shadow-sm rounded grid-item" style="height: 100%; position: relative;">
                        <div class="text-center">
                          <img th:src="@{'/assets/phone-image/' + ${sp.image}}"  th:alt="${sp.name}" class="phone-image">
                        </div>
                        <div class="p-1 text-center" style="height: 4rem">
                          <span class="text-primary" style="font-size:12px;" th:text="${#strings.abbreviate(sp.name,22)}" th:title="${sp.name}"></span>
                          <span>
                          <a th:href="@{/admin/question(idSP=${sp.idSanPham})}" th:if="${!#lists.isEmpty(sp.listHoiDap)}" th:title="|Có ${#lists.size(sp.listHoiDap)} bình luận|"
                       style="font-size: 16px;font-style: italic; color: orange;">
                          <i class="fas fa-comment"></i>(<span th:text="${#lists.size(sp.listHoiDap)}"></span>)</a>
                          </span><br>
                          
                          <a th:if="${!#lists.isEmpty(sp.listDanhGia)}" th:href="|javascript:danhGia(${sp.idSanPham})|" class="star" th:title="|Có ${#lists.size(sp.listDanhGia)} đánh giá|" th:id-sp="${sp.idSanPham}">
                        <i class="fas fa-star"
                          th:each="item : ${#numbers.sequence(1,5)}"
                         th:style="${T(com.admin.mobile.sale.utils.DanhGiaUtils).average(sp.listDanhGia) >= item ? 'color:#e06e0c' : 'color:gray'}"></i>
                        <span th:text="${T(com.admin.mobile.sale.utils.DanhGiaUtils).average(sp.listDanhGia)}"></span>
                        <sup style="font-style: italic; color: navy;" th:text="|(${#lists.size(sp.listDanhGia)})|"></sup>
                        </a>
                        <a th:unless="${!#lists.isEmpty(sp.listDanhGia)}" style="font-style: italic; font-size: 10px">Chưa có đánh giá</a> 
                        </div>
                        <div class="text-center">
                          <h6 class="text-danger priceView" th:data-id-sp="${sp.idSanPham}" th:text="${#numbers.formatDecimal(sp.price, 0, 'POINT', 0, 'POINT') + ' VNĐ'}">
                          </h6>
                          <div style="font-size:12px;"><i class="fas fa-map-marker-alt"></i> <strong th:text="${#strings.abbreviate(sp.cuaHang.address,27)}" th:title="${sp.cuaHang.address}"></strong></div>
                          <em style="font-size: 12px">
                          Cập nhật gần đây lúc <th:block th:text="${#dates.format(sp.updatedAt, 'dd/MM/yyyy hh:mm')}"></th:block>
                          Bởi <th:block th:text="${sp.updateBy.fullName}"></th:block>
                        </em>
                          <form onsubmit="return confirm(`Bạn có muốn xóa sản phẩm này không?`)" method="post"
                        th:action="@{'/admin/quan-ly-san-pham/xoa/' + ${sp.idSanPham}}" id="formEdit">
                        <button type="button" class="btn btn-sm btn-info btn-edit hangEdit" title="Sửa" th:onclick="|location.href='/admin/quan-ly-san-pham/edit/${sp.idSanPham}'|"><i class="far fa-edit"></i> </button>
                        <button type="submit" class="btn btn-sm btn-danger" title="Xóa">
                          <i class="far fa-trash-alt"></i> 
                          </button>
                          </form>
                        
                        </div>
                      <div class="viewRate badge badge-warning" th:title="|Lượt xem ${sp.view}|" th:data-id-sp="${sp.idSanPham}" style="position: absolute; top:5px; right: 5px; color: black;"><span th:text="${sp.view}"></span> <i class="fas fa-eye"></i></div>
                      <div class="countRate badge badge-warning" title="Số lượng" style="position: absolute; top:28px; right: 5px; color: black;"><span th:text="${sp.soLuong}"></span> <i class="fas fa-mobile-alt"></i></div>
                      </div>
                      
                      
                  </div>
                </div>
              </div> <!--End of grid View -->
              
              <!--List View -->
                <table class="table table-bordered table-hover" id="dataTable" th:unless="${param.grid}">
                  <thead>
                    <tr>
                      <th style="display: none">Mã SP</th>
                      <th>Ảnh</th>
                      <th>Tên sản phẩm</th>
                      <th>Giá tiền </th>
                      <th>Số lượng</th>
                      <th>Cập nhật lần cuối</th>
                      <th><i class="fas fa-eye"></i></th>
                      <th>Hiện có tại</th>
                      <th>Chỉnh sửa</th>
                    </tr>
                  </thead>
                  <tbody style="font-size: 14px">
                    <tr th:each="sp: ${page}">
                      <td style="display: none;" th:text="${sp.idSanPham}" class="idSP">Tiger Nixon</td>
                      <td>
                        <a href="#" ><img th:src="@{'/assets/phone-image/' + ${sp.image}}" class="anhSP" height="40px" th:alt="${sp.name}"></a>
                      </td>

                      <td>
                      <a th:href="@{/admin/question(idSP=${sp.idSanPham})}" th:if="${!#lists.isEmpty(sp.listHoiDap)}" th:title="|Có ${#lists.size(sp.listHoiDap)} bình luận|"
                       style="font-size: 12px;font-style: italic; color: orange;"><i class="fas fa-comment"></i>(<span th:text="${#lists.size(sp.listHoiDap)}"></span>)</a>
                      <a href="#" th:text="${#strings.abbreviate(sp.name,40)}" th:title="${sp.name}" class="tenSP"></a>
                      <br>
                      <a th:if="${!#lists.isEmpty(sp.listDanhGia)}" th:href="|javascript:danhGia(${sp.idSanPham})|" class="star" th:title="|Có ${#lists.size(sp.listDanhGia)} đánh giá|" th:id-sp="${sp.idSanPham}">
                      	<i class="fas fa-star"
                      		th:each="item : ${#numbers.sequence(1,5)}"
                      	 th:style="${T(com.admin.mobile.sale.utils.DanhGiaUtils).average(sp.listDanhGia) >= item ? 'color:#e06e0c' : 'color:gray'}"></i>
                      	<span th:text="${T(com.admin.mobile.sale.utils.DanhGiaUtils).average(sp.listDanhGia)}"></span>
                      	<sup style="font-style: italic; color: navy;" th:text="|(${#lists.size(sp.listDanhGia)})|"></sup>
                      	</a>
                      	<a th:unless="${!#lists.isEmpty(sp.listDanhGia)}" style="font-style: italic; font-size: 10px">Chưa có đánh giá</a>
                      </td>
                      <td align="right" th:text="${#numbers.formatDecimal(sp.price, 0, 'POINT', 0, 'POINT')}"></td>
                      <td th:text="${sp.soLuong}">999</td>
                      <td> 
                      	Lúc <th:block th:text="${sp.updatedAt}"></th:block><br>
                      	Bởi nhân viên <th:block th:text="${sp.updateBy.fullName}"></th:block>
                      </td>
                      <td><span th:text="${sp.view}"></span></td>
                      <td th:text="${#strings.abbreviate(sp.cuaHang.address,26)}" th:title="${sp.cuaHang.address}"></td>
                      <td>
                        <form onsubmit="return confirm(`Bạn có muốn xóa sản phẩm này không?`)" method="post"
                        th:action="@{'/admin/quan-ly-san-pham/xoa/' + ${sp.idSanPham}}">
                        <button type="button" class="btn btn-sm btn-info hangEdit" title="Sửa" th:onclick="|location.href='/admin/quan-ly-san-pham/edit/${sp.idSanPham}'|"><i class="far fa-edit"></i> </button>
                        <button type="submit" class="btn btn-sm btn-danger" title="Xóa">
                          <i class="far fa-trash-alt"></i> 
                          </button>
                          </form>
                      </td>
                    </tr>
                  </tbody>
                  
                </table>
                
                  <div>
                    <ul class="pagination" th:if="${page.totalElements>10}">
                      <li class="paginate_button page-item previous" th:classappend="${!page.hasPrevious()} ? 'disabled'"><a href="javascript:void(0)"class="page-link">Prev</a></li>
                      <li class="paginate_button page-item"
                        th:onclick="|search(searchDTO,${num})|"
                        th:each="num : ${#numbers.sequence(0,page.totalPages-1)}"
                        th:classappend="${num==page.number} ?'active'"><a href="javascript:void(0)" class="page-link" th:text="${num+1}">1</a></li>
                      <li class="paginate_button page-item next" th:classappend="${!page.hasNext()} ? 'disabled'"><a href="javascript:void(0)" class="page-link">Next</a></li>
                    </ul>
                    
                </div>
                
              </div>
            </div>
          </div>
          <div class="card shadow mb-4">
            <div class="card-header">Top 10 sản phẩm có lượt xem nhiều nhất</div>
            <div class="cardBody">
              <canvas id="topView"></canvas>
            </div>
          </div>
        </div>
          
        </div>
      </div>
    </div>
    
<div class="modal fade bd-example-modal-lg" id="modalDanhGia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" th:fragment="danh-gia">
    <div class="modal-content" th:if="${sanpham}">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" th:text="${sanpham.name}">Sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <table class="table" th:with="avg = ${T(com.admin.mobile.sale.utils.DanhGiaUtils).average(sanpham.listDanhGia)}">
      	<caption> </caption>
      	<thead>
      	<tr>
      		<th width="100px">STT</th>
      		<th>Tên người đánh giá</th>
      		<th>Nội dung</th>
      		<th>Đánh giá</th>
      	</tr>
      	</thead>
      	<tbody>
      	<tr th:each="danhGia, stat: ${sanpham.listDanhGia}">
      		<td th:text="${stat.index+1}"></td>
      		<td th:text="${danhGia.khachHang.name}"></td>
      		<td th:text="${danhGia.comment}"></td>
      		<td th:title="|${danhGia.vote} sao|">
      		<i class="fas fa-star" th:each="item : ${#numbers.sequence(1,5)}"
              th:style="${danhGia.vote >= item ? 'color:#e06e0c' : 'color:gray'}">
             </i>
      		</td>
      	</tr>
      	</tbody>
      	<tfoot><tr>
      		<td colspan="4">Trung bình 
      		<i class="fas fa-star" th:each="item : ${#numbers.sequence(1,5)}"
              th:style="${avg >= item ? 'color:#e06e0c' : 'color:gray'}">
             </i>
      		 <span th:text="${avg}"></span> sao</td>
      	</tr></tfoot>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
    
  <th:block th:replace="layout/footer :: footer"></th:block>
  <th:block th:replace="layout/comon :: js"></th:block>
    <script type="text/javascript" src="../static/vendor/chart.js/Chart.js" data-th-src="@{/vendor/chart.js/Chart.js}"></script>
  <script type="text/javascript" src="../static/js/quanLySanPham.js" data-th-src="@{/js/quanLySanPham.js}"></script>
  <script type="text/javascript" src="../static/js/tooltipsp.js" data-th-src="@{/js/tooltipsp.js}"></script>
</body>
</html>